table {
    border-radius: 5px;
  }
  table {
    border-top-left-radius: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  table {
    box-shadow: 0 0 3px #fc0000;
  }
  table {
    border: 2px solid #0caf94;
    border-radius: 5px;
  }
  table {
    border-collapse: separate;
  }
  
  tr:nth-child(odd) td {
    background-color: #f0f0f0;
  }
  
  tr:nth-child(even) td {
    background-color: #fff;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
          